.hero-img { 
    width: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.hero-img:hover {
    transform:scale(105%)
}

.hero-text h1 {
    font-size: 36px; /* Adjust font size as needed */
    color: white; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding shadow */
    text-decoration: underline;
  }
  
  #hero-container {
    background-color: rgba(170, 1, 1, 0.986) !important;
    background: linear-gradient(
      -50deg,
      transparent 35%,
      rgba(0, 0, 0, 0.055) 20%,
      rgba(0, 0, 0, 0.055) 50%,
      transparent 50%,
      transparent 75%,
      rgba(0, 0, 0, 0.055) 75%,
      rgba(0, 0, 0, 0.055)
    );
    background-size: 10px 10px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1), inset 0 -50px 20px rgba(0, 0, 0, 0.1);
  }
  


  .custom-link {
    color: white; /* Text color */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make the text bold */
    margin-top: 10px; /* Adjust spacing */
    display: inline-block; /* Ensure block-level behavior */
    padding: 10px 20px; /* Add padding for better clickability */
    background-color: #007bff; /* Background color for the link */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Add smooth transition effect */
  }
  
  .custom-link:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
  